@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

#lyrics{
    white-space: pre-wrap
}

html {
    background: #fff;
}

body {
    margin: 2rem auto auto auto;
    width: 90%;
}

/* Column container gradient */
.column {
    border-radius: 5px;
    margin: .5rem;
    background: linear-gradient(0deg, #fff 0%, #e0e0e0 85%);
}

p {
    font-size: 16px;
}

#toggleMode {
    font-size: 4rem;
    font-weight: 700;
    background: -webkit-radial-gradient(30% 50%, circle closest-corner, #BBB193, #7EA8BE, #C2948A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
}
#toggleMode{
    cursor: pointer;
}


h2 {
    font-size: 2rem;
    font-weight: 700;
    background: -webkit-radial-gradient(30% 60%, circle closest-corner, #7EA8BE, #242424);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    background: -webkit-radial-gradient(30% 60%, circle closest-corner, #7EA8BE, #242424);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* add song button */
#songAddBtn{
    color: #14253E;
 }
 /* song buttons*/
 ul button{
    display: flex;
    flex-direction: column;
    color: #14253E;
 }
 /* clear songs button */
 #clearBtn{
    color: #14253E;
 }
 
#lyrics {
    color: #14253E;
}


/* Search input and button */
.button.is-info {
    background-color: #14253E;
    color: #fff;
}

.button.is-info:hover {
    background-color: #7EA8BE;
}

.input {
    background-color: #1F3A61;
    border: #0f1c2f;
    color: #F6F0ED;
}

.input::placeholder {
    color: #fff;
    opacity: .6;
}

.songContainer button{
    background-color: #1F3A61;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 4px 20px;
    font-size: 15px;
    color: #fff;
    border: none;
}

.songContainer button:hover{
    background-color: #7EA8BE;
    cursor: pointer;
}

#clearBtn{
    background: #1F3A61;
    font-size: 15px;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#clearBtn:hover{
    background-color: #7EA8BE;
    cursor: pointer;
}

#songAddBtn{
    background-color: #1F3A61;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    padding: 10px;
    border: none;
}

#songAddBtn:hover{
    background-color: #7EA8BE;
    cursor: pointer;
}