@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

#lyrics{
    white-space: pre-wrap
}

html {
    background: #050910;
}

body {
    margin: 2rem auto auto auto;
    width: 90%;
}

/* Column container gradient */
.column {
    border-radius: 5px;
    margin: .5rem;
    background: linear-gradient(0deg, #050910 0%, #0a131f 85%);
}


p {
    font-size: 16px;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    background: -webkit-radial-gradient(30% 50%, circle closest-corner, #BBB193, #7EA8BE, #C2948A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    background: -webkit-radial-gradient(30% 60%, circle closest-corner, #7EA8BE, #C2948A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    background: -webkit-radial-gradient(30% 60%, circle closest-corner, #7EA8BE, #BBB193);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* add song button */
#songAddBtn{
    color: #C2948A;
 }
 /* song buttons*/
 ul button{
    display: flex;
    flex-direction: column;
    color: #C2948A;
 }
 /* clear songs button */
 #clearBtn{
    color: #C2948A;
 }
 
#lyrics {
    color: #bbb193;
}


/* Search input and button */
.button.is-info {
    background-color: #14253E;
    color: #E9D2CA;
}

.button.is-info:hover {
    background-color: #7EA8BE;
}

.input {
    background-color: #1F3A61;
    border: #0f1c2f;
    color: #F6F0ED;
}

.input::placeholder {
    color: #BBB193;
    opacity: .6;
}